---
layout: default
comments: true
title: About Me
---
<header class="masthead">        
  <h1 class="masthead-title">
    <a href="{{ site.baseurl }}/"><span> {{site.name}}</span> Leyth</a>
  </h1>
  <nav class="masthead-nav">
    {% for nav in site.nav %}
    <a href="{{ nav.href }}">{{ nav.name }}</a>
    {% endfor %}
  </nav>
</header>
<div class="content list">
  <h3 style="color:  #D85950">About Me</h3>
<p class="lead"> My name is Leyth and I am a JavaScript Developer based in Seattle, Washington. I currently work as a Code Reviewer at <a href="https://www.udacity.com/">Udacity.</a></p>
<p class="lead">I am on <a href="https://github.com/wehelie">Github</a>, <a href="https://twitter.com/leyth_">Twitter</a> and <a href="https://www.linkedin.com/in/leyth">Linkedin</a></p>
</div>

{% if site.twitter_username %}
  <li>
    <a href="https://twitter.com/{{ site.twitter_username }}">
      <i class="fa fa-twitter"></i> Twitter
    </a>
  </li>
{% endif %}